@model LonghornCinemaFinalProject.Models.Ticket
@using LonghornCinemaFinalProject.Models

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ticket</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TicketID)
    <table class="table">
        <tr>
            <th>Movie</th>
            <th>Show Start Time</th>
            <th>Ticket Price</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Showing.Movie.Title)</td>
            <td>@Html.DisplayFor(model => model.Showing.StartTime)</td>
            <td>$@Html.DisplayFor(model => model.TicketPrice)</td>
        </tr>
    </table>

    <div class="form-group">
        <b>@Html.LabelFor(model => model.Seat, htmlAttributes: new { @class = "control-label col-md-2" })</b>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Seat, (SelectList)ViewBag.AllSeats, htmlAttributes: new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.Seat, "", new { @class = "text-danger" })
        </div>
    </div>




    @*<table>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Show Start Time
            </th>
            <th>
                Ticket Price
            </th>
        </tr>

        @foreach (var tic in Model.Tickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => tic.Showing.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tic.Showing.StartTime)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => tic.TicketPrice)
                </td>
                </td>
            </tr>
        </table>*@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Order", "Details","Orders",new { OrderID = Model.Order.OrderID}, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
