@model IEnumerable<LonghornCinemaFinalProject.Models.Showing>
@using LonghornCinemaFinalProject.Models

@{
    ViewBag.Title = "Showings";
}

<h2>Showings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialEventStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheatreNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @if(item.SpecialEventStatus == SpecialEvent.NotSpecial)
            { <p>No</p>}
            @if(item.SpecialEventStatus == SpecialEvent.Special)
            { <p>Yes</p>}
        </td>
        <td>
            @if(item.TheatreNum == Theatre.TheatreOne)
            { <p>1</p>}
            @if(item.TheatreNum == Theatre.TheatreTwo)
            { <p>2</p>}
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShowingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShowingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShowingID })
        </td>
    </tr>
}

</table>
