@model LonghornCinemaFinalProject.Models.Order
@using LonghornCinemaFinalProject.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    <p>Status:</p>
    <p>@Model.Status</p>
</div>


<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            Show Start Time
        </th>
        <th>
            Ticket Price
        </th>
        <th>
            Seat
        </th>
    </tr>

    @foreach (var tic in Model.Tickets)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => tic.Showing.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tic.Showing.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tic.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tic.Seat)
            </td>
            @* TODO: add logic to only show buttons if order is not complete*@
            <td>
                @Html.ActionLink("Edit","Edit","Tickets",new { TicketID = tic.TicketID}, null) |
                @Html.ActionLink("Delete","Delete","Tickets",new { TicketID = tic.TicketID},null)
            </td>
        </tr>
    }

</table>


<p>
    @if (Model.Status == OrderStatus.Pending)
    {
        @Html.ActionLink("Add More Tickets", "Index", "Showings", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Checkout", "Checkout", new { OrderID = Model.OrderID }, new { @class = "btn btn-success" })
    }
    @if (Model.Status == OrderStatus.Complete)
    {
        @Html.ActionLink("Cancel Order", "Cancel", "Order", null, new { @class = "btn btn-primary" })
    }

</p>
