@model LonghornCinemaFinalProject.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <p>If you're here the Ticket should have been created and an Order should have been created with the Ticket on it. You can check the Tickets and Orders table with the corresponding OrderID and TicketID to verify this.</p>
</div>


<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            Show Start Time
        </th>
        <th>
            Ticket Price
        </th>
        <th>
            Seat
        </th>

        <th></th>
    </tr>

    @foreach (var tic in Model.Tickets)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => tic.Showing.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tic.Showing.StartTime)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => tic.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tic.Seat)
            </td>
            <td>
                @Html.ActionLink("Edit","Edit","Tickets",new { TicketID = tic.TicketID}, null) |
                @Html.ActionLink("Delete","Delete","Tickets",new { TicketID = tic.TicketID},null)
            </td>
        </tr>
    }

</table>


<p>
    @Html.ActionLink("Add More Tickets", "Index", "Showings", null, new{ @class = "btn btn-primary" })
    @Html.ActionLink("Checkout", "Checkout", new { OrderID = Model.OrderID }, new { @class = "btn btn-success" })
</p>
