@model IEnumerable<LonghornCinemaFinalProject.Models.Order>
@using LonghornCinemaFinalProject.Models

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Email
        </th>
        <th>
            Total
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { OrderID = item.OrderID }) |
            @Html.ActionLink("Cancel", "Cancel", new { OrderID = item.OrderID })
            @if (User.IsInRole("Manager"))
    {@Html.ActionLink("Delete", "Delete", new { OrderID = item.OrderID })}
        </td>
    </tr>
}

</table>
