@model IEnumerable<LonghornCinemaFinalProject.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

@using (Html.BeginForm())
{
    <p class="form-group">
        Basic Search: @Html.TextBox("BasicSearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-primary" />
        @Html.ActionLink("Detailed Search", "DetailedSearch", "Search", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Show All", "Index", "Movies", null, new { @class = "btn btn-success" })
    </p>
}

@if (this.User.IsInRole("Manager"))
{
    <p>@Html.ActionLink("Create New Movie", "Create", "Movies")</p>
}

Displaying @ViewBag.SelectedMoviesCount of @ViewBag.TotalMoviesCount Movies

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPAARating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th>
            Reviews
        </th>
        <th>
            Showings
        </th>
        @if (this.User.IsInRole("Manager"))
        {
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Movies", new { id = item.MovieID }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenresString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPAARating)
            </td>
            <td>
                @if (item.MovieReviews.Count() == 0)
                {<p>None</p> }
                else
                { @Html.DisplayFor(modelItem => item.RatingAverage)}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runtime) min
            </td>
            <td>
                @Html.ActionLink("Reviews", "Index", "MovieReviews", new { id = item.MovieID }, new { @class = "btn btn-info" })
            </td>
            <td>
                @Html.ActionLink("Showings", "Index", "Showings", new { id = item.MovieID }, new { @class = "btn btn-warning" })
            </td>
            @if (this.User.IsInRole("Manager"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", "Movies", new { id = item.MovieID }, null)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Movies", new { id = item.MovieID }, null)
                </td>
             }
        </tr>
    }

</table>
