@model LonghornCinemaFinalProject.Models.Report
@using LonghornCinemaFinalProject.Models

@{
    ViewBag.Title = "Query";
}

<h2>Query</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">


        @using (Html.BeginForm("Query", "Reports", FormMethod.Post))
        {
        <p class="form-group">
            Display Seats Information?: @Html.EditorFor(model => model.DisplaySeats) <br />

            Display Revenue Information?: @Html.EditorFor(model => model.DisplayRevenue) <br />

            Start Date: @Html.EditorFor(modelItem => modelItem.StartDate, null, new { @class = "form-control" }) <br />
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })<br />

            End Date: @Html.EditorFor(modelItem => modelItem.EndDate, null, new { @class = "form-control" }) <br />
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })<br />

            Movie Filter: @Html.EditorFor(model => model.MovieFilter.Title) @*@Html.DropDownListFor(modelItem => modelItem.MovieFilter, (SelectList)ViewBag.AllMovies, new { @class = "form-control" })*@ <br />

            Rating Filter: @Html.EnumDropDownListFor(modelItem => modelItem.RatingFilter, htmlAttributes: new { @class = "form-control" })

            Customer Filter: Movie Filter: @Html.DropDownList("CustomerFilterID", (SelectList)ViewBag.AllCustomers, new { @class = "form-control" })

            <input type="submit" value="Generate Report" class="btn btn-primary" />

        </p>
        }
