@model LonghornCinemaFinalProject.Models.MovieReview

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie Review</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumStars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumStars)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
