@model IEnumerable<LonghornCinemaFinalProject.Models.MovieReview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumStars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumStars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MovieReviewID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MovieReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MovieReviewID })
        </td>
    </tr>
}

</table>
