@model IEnumerable<LonghornCinemaFinalProject.Models.MovieReview>
@using Microsoft.AspNet.Identity
@using LonghornCinemaFinalProject.Models

@{
    ViewBag.Title = "Index";
}

<h2>Movie Reviews</h2>

<p>
    @if (User.IsInRole("Customer"))
    {@Html.ActionLink("Create New", "Create") <p> Only Movie Reviews that have been approved by a Manager or Employee appear here. </p> }
    
</p>

Showing @ViewBag.SelectedMovieReviewsCount of @ViewBag.TotalMovieReviewsCount Movie Reviews
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumStars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumStars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.MovieReviewID })
        </td>
        <td>
            @if (User.Identity.GetUserId() != item.AppUser.Id && User.IsInRole("Customer")) // non-author customer
            {
            @Html.ActionLink("Upvote", "Upvote", new { id = item.MovieReviewID })
            @Html.ActionLink("Downvote", "Downvote", new { id = item.MovieReviewID })
            }
        </td>
        <td>
            @if (User.Identity.GetUserId() == item.AppUser.Id || User.IsInRole("Manager,Employee")) // Manager, Employee, or author (a customer)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieReviewID })
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieReviewID })
            }
        </td>
        <td>
            @if (User.IsInRole("Manager, Employee"))
            {
                if (item.ApprovalStatus == ApprovalStatus.NotApproved)
                {

                    @Html.ActionLink("Approve", "ApproveReview", new { id = item.MovieReviewID })

                }
                else
                {

                    @Html.ActionLink("Unapprove", "UnapproveReview", new { id = item.MovieReviewID })

                }
            }
        </td>
    </tr>
    }

</table>
