@model IEnumerable<LonghornCinemaFinalProject.Models.MovieReview>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Movie Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

Showing @ViewBag.SelectedMovieReviewsCount of @ViewBag.TotalMovieReviewsCount Movie Reviews
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumStars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumStars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Votes)
            </td>
            <td>
                <p>
                @Html.ActionLink("Details", "Details", new { id = item.MovieReviewID })
                @if (User.Identity.GetUserId() != item.AppUser.Id)
                {
                    <p>
                    @Html.ActionLink("Upvote", "Upvote", new { id = item.MovieReviewID }) |
                    @Html.ActionLink("Downvote", "Downvote", new { id = item.MovieReviewID })
                    </p>
                }
                else
                {
                    <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MovieReviewID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MovieReviewID })
                    </p>
                }
                </p>
            </td>
        </tr>
    }

</table>
